.jumbotron{
    background-color: black;
}

.display-4{
    color: white;
}

/* Mobile Styles */

@media (max-width: 415px) {
    .jumbotron{
        background-color: black;
        width: 150%!important;
    }

    #table-card{
        width: 200%;
        margin-left: -11%;
    }

    #schedule-card{
        margin-left: -5%;
    }
}